* {
    margin: 0;
    padding: 0;
}
a {
    color: black;
    text-decoration: none;
}
body {
    font-family: "Inter", sans-serif;
}
.header {
    overflow: hidden;
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
}
.header * {
    float: left;
}
.header a {
    text-decoration: none;
    color: black;
    padding: 16px 20px;
}
.header p {
    padding: 16px 20px;
    margin: 0;
}
.header a:hover,
.header p:hover {
    background-color: azure;
}
.header img {
    height: 40px;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}
#tb {
    margin-right: 60px;
    margin-top: 5px;
}
#avt {
    margin-top: 3px;
    margin-right: 15px;
}
.phu {
    position: absolute;
    z-index: 1;
    right: 10px;
    width: 250px;
    top: 50px;
}
.header .phu a {
    text-decoration: none;
    color: black;
}
.header .phu a, .header .phu p {
    float: none;
    display: block;
    width: 250px;
    text-align: center;
    padding: 0;
    padding: 10px 0;
}
